<div class="signup-form">
    <form class="form" action="//craftworks.us12.list-manage.com/subscribe/post?u=113204b86f6d73fdb450a3c06&amp;id=61b7875e80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <label for="mce-EMAIL">Email</label>
        <input type="email" class="form-input" placeholder="jane.doe@example.com" name="EMAIL" id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_113204b86f6d73fdb450a3c06_61b7875e80" tabindex="-1" value=""></div>
        <button type="submit" value="Subscribe" name="subscribe" class="submit-button">Sign up</button>
    </form>
</div>